@tailwind base;
@tailwind components;
@tailwind utilities;

.slow {
  @apply transition-all ease-in-out duration-300 delay-100;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}